body {
    font-family: sans-serif;
    background-color: rgb(255,255,255);
    margin-top: 75px;
}

.center {
    background:rgb(200, 212, 196);
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    display: inline-block;
    border: 1px solid white;
    border-radius:50%;
    transition: 0.3s;

}
.img-medium:hover {
    box-shadow: 0 0 5px 1px rgba(51, 255, 0, 1);                 
}

.container {
               max-width: 800px;
               font-family: calibri light;
               margin : 0 auto;
               padding-left: 20px;
               padding-right: 20px;
               
               
           } 
           
           
           
