body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;

}
.img-medium:hover {
    box-shadow: 10 0 2px 1px rgba(0, 140, 186, 0.5);                 
}
.container {
               background:rgb(231, 224, 222);
               max-width: 800px;
               font-family: calibri light;
               margin : 0 auto;
               padding-top: 60px;
               padding-left: 20px;
               padding-right: 20px;
               
               
           } 
           
           
           .resolve{
               background:rgb(231, 224, 222);
               max-width: 800px;
               font-family: calibri light;
               margin : 0 auto;
               padding-top: 60px;
               padding-left: 20px;
               padding-right: 20px;
           }
